#title1{
    color:#00CACA;font-size:35pt;
}

.title2{
    color:#FF77FF;font-size:30pt;
}

.title3{
    color:#FFDC35;font-size:25pt;
}

.title4{
    color:#6A6AFF;font-size:15pt;
}

.title5{
    color:#00E3E3;font-size:20pt;
}